@import '../../styles.css';

:root {
    /*
    * Fill default vars for transformations as without them `rotatN` does not work
    */
    --tw-translatx: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scalx: 1;
    --tw-scaly: 1;
}
